/* Basic Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    
    display: flex;
   
   
}
main{
    
}
main .top{
    display: flex;
    background-color: rgb(222, 236, 231);
    margin-bottom: 1rem;
    justify-content: right;
    
}
main .top .search span{
    margin-top: 2px;
    
}


main .top a{

    display: flex;
    margin-left: 2rem;
    gap: 2px;
    align-items: center;
    height: 3.2rem;
    transition: all .1sec ease-in;
    color: rgb(21, 23, 21);
}

.users{
    width: 100%;
}



.form-container {
    margin-top: 1rem;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-left: 2rem;
    width: 600px;
    max-width: 100%;
    
}

.form-container h2 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
    text-align: center;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    color: #555;
    font-weight: bold;
}

.form-group input,
.form-group textarea,
.form-group select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

.form-group textarea {
    resize: vertical;
    height: 80px;
}

.radio-group {
    display: flex;
    gap: 10px;
}

.radio-group label {
    font-weight: normal;
    color: #555;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #28a745;
    border: none;
    border-radius: 4px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #218838;
}
/* Close Button */
.main .content .form-container .close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
    color: #888;
}

.form-container .close-btn:hover {
    color: #333;
}
.search{
    display: flex;
    gap: 2px;
}

.search button{
    width: 40px;
    padding: 10px;
    background-color: #28a745;
    border: none;
    border-radius: 4px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;

}
.search input{
    width: 80%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}